<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.tymy.api.tymyapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".TymyApplication">
        <activity
            android:name="cz.tymy.api.tymyapp.DiscussionListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.tymy.api.tymyapp.DiscussionDetailActivity"
            android:label="@string/title_discussion_detail"
            android:parentActivityName="cz.tymy.api.tymyapp.DiscussionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DiscussionListActivity" />
        </activity>
    </application>

</manifest>
